<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <packages>
    <package id="AForge" version="2.2.5" targetFramework="net40" />
    <package id="AForge.Video" version="2.2.5" targetFramework="net40" />
    <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net40" />
    <package id="ZXing.Net" version="0.14.0.1" targetFramework="net40" />
  </packages>
    <connectionStrings>
        <add name="QL_SIEU_THI_LTCSDL.Properties.Settings.QLSieuThiMiniConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLSieuThiMini;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>
</configuration>